{% extends 'layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block css %}
    <style>
    
        .container1{
            margin-top: 40px;
        }
    </style>
{% endblock css %}



{% block content %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <h4>Hello, <b>{{user.username | default:'Guest'}}</b></h4>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=divi>
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link " href="/" role="button">HOME</a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link " href="{% url 'upload_ai_model' %}" role="button">Upload Models</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'login' %}" role="button">Upload models</a>
                    {% endif %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_model' %}" role="button">View Models</a>
                </li>
                {% if user.is_authenticated %}
                <a class="nav-link " href="{% url 'logout' %}" role="button">Logout</a>
                {% else %}
                <a class="nav-link" href="{% url 'login' %}" role="button">Login</a>
                <a class="btn btn-warning cizu" href="{% url 'register' %}" role="button">Sign up</a>
                {% endif %}</a>

            </ul>
        </div>
    </div>
</nav>





<div class="container1">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <img src="{{ result.model_image.url }}" class="card-img-top" alt="{{ result.name }}">
                <div class="card-body">
                    <blockquote class="blockquote">
                        <p class="mb-0">{{result.name}}</p>
                    </blockquote>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Uploaded by: {{result.uploader}}</li>
                        <li class="list-group-item">Uploaded on: {{result.uploaded_on}}</li>

                        {% if result.category == 1 %}
                        <li class="list-group-item">category: image</li>
                        {% elif result.category == 2 %}
                        <li class="list-group-item">category: text</li>
                        {% elif result.category == 3 %}
                        <li class="list-group-item">category: nlp</li>
                        {% elif result.category == 4 %}
                        <li class="list-group-item">category: video</li>
                        {% elif result.category == 5 %}
                        <li class="list-group-item">category: others</li>

                        {% endif %}


                    </ul>
                    <div class="card-body ">
                        {% if user.is_authenticated %}
                        <a href="{% url 'download_ai_model' %}?path={{result.model_file.url}}"
                            class="btn btn-danger btn-sm ml-5"><i class="fa fa-download"
                                aria-hidden="true"></i>Download</a>
                        <a href="{% url 'review_ai_model' pk=result.id %}" class="btn btn-success btn-sm ml-5"><i class="fa fa-star"
                                aria-hidden="true"></i>Rate Model</a> 
                        {% else %}
                                <a href="{% url 'login' %}" class="btn btn-danger btn-sm ml-5"><i class="fa fa-download"
                                    aria-hidden="true"></i>Download</a>
                                    <a href="{% url 'login' %}" class="btn btn-success btn-sm ml-5"><i class="fa fa-star"
                                        aria-hidden="true"></i>Rate Model</a>
                                        <a class="nav-link" href="{% url 'login' %}" role="button"></a>
                                        
                                        {% endif %}
                                        
                                        {% if user.get_pk == result.user.pk %}
                                        
                                             <a href="{% url 'edit_ai_model' pk=result.id %}" class="btn btn-sm btn-warning"><i class="fa fa-edit" aria-hidden="true"></i> Edit model</a>
                                         
             
                                         
                                         
                                         
                                         <a href="{% url 'delete_ai_model' pk=result.id %}" class="btn btn-sm btn-warning"><i class="fa fa-edit" aria-hidden="true"></i> Delete model</a>
                                        {% endif %}
                                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Detail description</h4>
                    <p class="card-text">{{result.summary|linebreaks}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-5">
        <div class="col-12">
            <h3 class="text-center"></h3>
        </div>

        {% for review in reviews %}
        <div class="col-lg-10 my-2">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> <span>{{review.reviewer}}</span>
                    <h5 class="card-title">{{review.title}}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{review.detail}}</p>
                    <div>

                    </div>
                </div>
            </div>
        </div>

        {% empty %}
        
        {% endfor %}

    </div>
</div>
{% endblock content %}


{% block js %}

{% endblock js %}